@model Crudtest.PaginatedList<Crudtest.ViewModel.CustomerListVM>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Customers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by product name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-orderBy="@ViewData["OrderBy"]" asp-route-sortOrder="lastname" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-orderBy="@ViewData["OrderBy"]" asp-route-sortOrder="firstname" asp-route-currentFilter="@ViewData["CurrentFilter"]">First name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-orderBy="@ViewData["OrderBy"]" asp-route-sortOrder="email" asp-route-currentFilter="@ViewData["CurrentFilter"]">E-mail</a>
            </th>        
         

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>             
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-orderBy="@ViewData["CurrentOrderBy"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-orderBy="@ViewData["CurrentOrderBy"]"
   class="btn btn-default @nextDisabled">
    Next
</a>